.Results-Card{
    margin: 3rem auto;
    padding: 2rem;
    position: relative;
    font-size: var(--small-text);
    color: var(--text-color-2);
}

.Results-Card .card {
    border-radius: 8px;
    background-color: var(--bg-color);
}

.Results-Card .card-title {
    font-size: var(--large-text);
    font-weight: bold;
  }
  
.Results-Card ul {
    font-size: var(--small-text);
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  
.Results-Card li {
    font-size: var(--small-text);
    margin-bottom: 0.25rem;
  }


.Results-Card strong {

    display: block;
    font-size: var(--small-text);
    margin-bottom: 0.5rem;
  }