.Detailed-Page {
    width: 70%;
    height: 80vh;
    justify-self: center;
    padding-top: 30px;
}

.Detailed-Question-Box {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

    padding: 25px;
    background-color: white;
}

.Detailed-Question-Question {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;

    width: 500px;
    height: 100px;
    margin-bottom: 20px;

    border-radius: 15px;
    background-image: url("/public/assets/questionbg.png");
    background-color: #cc2c1a;
    background-blend-mode:soft-light;
    background-size: cover;
}

.Response-Input {
    vertical-align: top;
    height: 150px;
    width: 80%;
    resize: vertical;
    line-height: 1.5;
    padding: 10px;
    box-sizing: border-box;
}
.Nav-Buttons {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FE604D;

}

.Submit-Button {
    width: 25%;
    color: white;
    background-color: #FE604D;
    border: none;
}

.Submit-Button:disabled {
    background-color: #d34f40;
    border-color: #d34f40;
    color: white;
}
