.Basic-Page {
    width: 70%;
    justify-self: center;
}

.Basic-Question-Box {
    display: flex;
    flex-direction: column;

    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

    padding: 25px;
    background-color: white;

}

.Response-Box {
    padding: 15px;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Answer-Button {
    background-color: white;
    border-color: black;
    color: black;

    width: 700px;
    border-radius: 100px;
    padding: 10px;
    margin: 5px;
}
.Answer-Button:hover {
    background-color: #FE604D;
    color: white;
}

.Nav-Buttons {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FE604D;

}

.Submit-Button {
    width: 25%;
    color: white;
    background-color: #FE604D;
    border: none;
}

.Submit-Button:disabled {
    background-color: #d34f40;
    border-color: #d34f40;
    color: white;
}
