.Header{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: auto;
    background-color: #FE604D;
}

.Header-Button {
    background-color: #FE604D;
    border-color: #FE604D;
    color: rgb(255, 255, 255);
    width: 200px;

}

.Header-Button:hover {
    background-color: #d34f40;
    border-color: #d34f40;
}

.Header-Button:disabled {
    background-color: #d34f40;
    border-color: #d34f40;
    color: rgb(255, 255, 255);
    width: 200px;;
}

