.Header{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100vw;
    background-color: #2568fb;
}

.Header-ButtonUnselected {
    background-color: #2568fb;
    color: rgb(255, 255, 255);
    width: 25%;

}

.Header-ButtonUnselected:hover {
    background-color: #1043b1;
}

.Header-ButtonSelected {
    background-color: #1043b1;
    color: rgb(255, 255, 255);
    width: 25%;

}

