.App{
  background-color: #fcc9bd;

  overflow: auto;
  max-height: 100vh;
}

h1 {
  justify-self: center;
  font-weight: bolder;
  padding: 15px;
}

.Button {
  background-color: #FE604D;
  border-color: #FE604D;
}
.Button:hover {
  background-color: #d34f40;
  border-color: #d34f40;
}

.Submit-Button {
  background-color: #FE604D;
  border-color: #FE604D;
}
.Submit-Button:hover{
  background-color: #d34f40;
  border-color: #d34f40;
}

#header-title {
  text-align: center;
  font-size: 40px;
  padding: 15px;
  color: white;
  font-weight: bolder;
  background-color: #FE604D;
  width: 100%;
}

.Page {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;


  color: white;
  font-weight: bold;
  background-color:#FE604D;
}

