.App{
  background-color: #fcc9bd;
}

h1 {
  justify-self: center;
  font-weight: bolder;
  padding: 15px;
}

.Button {
  background-color: #FE604D;
  border-color: #FE604D;
}
.Button:hover {
  background-color: #d34f40;
  border-color: #d34f40;
}

#header-title {
  text-align: center;
  font-size: 40px;
  padding: 15px;
  color: white;
  font-weight: bolder;
  background-color: #FE604D;
  width: 100%;
}

.footer-hover-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: transparent;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px;
  min-height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  color: white;
  font-weight: bold;
  background-color: #2568fb;

  opacity: 0;
  transition: opacity .5s;
}
footer:hover {
  opacity: 1;
}
/* Predefined Rules */

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/