body {
  margin: 0;
  font-family: DynaPuff, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: DynaPuff;
  src: url(../public/DynaPuff-VariableFont_wdth\,wght.ttf);
}


@font-face {
  font-family: GloomieSaturday;
  src: url(../public/Gloomie\ Saturday.otf);
}


/* Our universal styles */
/************************************************************************************/
#root {
  height: 100%;
}

:root[data-theme='light'] {
  --bg-color: white;
  --main-color: #FE604D;
  --text-color: white;
  --text-color-2: black;
  --focused-color:  #d34f40;
  --second-bg-color: #fcc9bd;
  --text-box-color: #cc2c1a;
  --border-color-1: black;
  --border-color-2: #ccc;
}

:root[data-theme='dark'] {
  --bg-color: #313131;
  --main-color: #000000;
  --text-color: white;
  --text-color-2: white;
  --focused-color:  #1f1f1f;
  --second-bg-color: #313131;
  --text-box-color: #313131;
  --border-color-1: black;
  --border-color-2: #1f1f1f;
}

:root[data-text-size='small'] {
  --small-text: 18px;
  --large-text: 22px;
  --gear: 30px;
  --header-title: 40px;
  --ozzie: 25%
}
:root[data-text-size='medium'] {
  --small-text: 22px;
  --large-text: 25px;
  --gear: 40px;
  --header-title: 50px;
  --ozzie: 30%
}
:root[data-text-size='large'] {
  --small-text: 25px;
  --large-text: 30px;
  --gear: 50px;
  --header-title: 60px;
  --ozzie: 35%;
}

h1 {
  justify-self: center;
  font-weight: bolder;
  padding: 15px;
}

.subtitle {
  font-weight: bolder;
}

.btn {
  background-color: var(--main-color);
  border-color: var(--main-color);
  outline: none;
}
.btn:hover {
  background-color: var(--focused-color);
  border-color: var(--focused-color);
  outline: none;

}
.btn:focus{
  background-color: var(--focused-color);
  border-color: var(--focused-color);
  outline: 2px solid var(--focused-color);
}
