.popup-box-settings {
  color: var(--text-color);
  border-radius: 10px;

  right: 0;
  width: 350px;
  min-height: 300px;
  max-height: 90vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000000;
  box-shadow: none;
}


.theme-selector,
.text-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-selector {
  margin-bottom: 10px;
}

.text-selector {
  margin-bottom: 10px;
}