.popup-box-settings {
  background-color: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  
  right: 0;
  width: 275px;
  min-height: 100px;
  max-height: 90vh;
  overflow-y: auto;

  padding: 20px;
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 20px;

  z-index: 1000000;
}



.theme-selector,
.text-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-selector {
  margin-bottom: 10px;
}

.text-selector {
  margin-bottom: 10px;
}