.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
}

.popup-content {
  position: relative;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 8px;
}